@import url('reset.css');


/*_________________________________*/

body {
    font-family: 'Roboto';
	font-weight: 500;
    overflow-x: hidden;
}

.header{
    font-family: 'Montserrat Alternates';
    font-weight: 600;
}

.second-ul{
    font-family: 'Montserrat';
	font-weight: 300;
}

/*_________________________________*/

/*MENU*/

.container{
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}


.header {
	background: #000;
	padding: 16px 0;
	font-size: 20px;
	line-height: 25px;
}


.menu {
	display: flex;
	justify-content: center;
	background: #000000;
	gap: 30px;
}

.menu a {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 10px 25px 10px 40px;
}

.menu > li {
    background: #000000;
	text-transform: uppercase;
	position: relative;
}

.menu > li:hover .second-ul {
	/*display: block;*/
    top: 100%;
}

.second-ul  {
    transition: all 1s cubic-bezier(.19,.43,.85,.52);
	padding: 20px 0 0;
	position: absolute;
	left: 0;
	top: -1000%;
	background: #000;
	z-index: 1;
	/*display: none;*/
}

.second-ul > li {
    position: relative;
	background: #000;
}

.menu li:nth-child(even) a {
	color: rgb(253, 244, 244);
}
.menu li:nth-child(odd) a {
	color: #ffffff;
}
.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.menu li a.active {
	color: rgb(159, 90, 177);
}


.second-ul li > ul li  {
    font-family: 'Roboto';
	position: absolute;
    background: #000;
    top:0;
    right: -1000%;
    transition: all 1s cubic-bezier(.19,.43,.85,.52);
}

.second-ul  li:hover > ul li {
	/*display: block;*/
    right: 100%;
}

/*.second-ul ul{
display: none;
}*/


/*___________menu+svg________________*/

.header-icon {
	width: 25px;
	height: 25px;
	fill: rgb(255, 255, 255);
}


.menu {
	font-size: 0;
} 

.menu li {
	font-size: 1.5rem;
} 

.menu .icon-right{
    padding: 10px 40px 10px 25px;
}

.menu .icon-right svg{
    left: auto;
    right: 0;
}

.menu svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}

.menu li:hover a {
	color: rgb(255, 0, 140);
}

.menu li:hover svg {
	fill: rgb(255, 0, 140);
}


/*_________________________________*/

/* !FOOTER */


.menu-footer {
	background: #6f6ba3;
	padding: 10px 10px 10px 10px;
    max-width: 150px;
	margin: 0 auto;
}

.flex-conteiner_1 {
	display: flex;
	justify-content: space-between;
}

.menu-footer:hover{
    transform: scaleY(5);
}
.menu-footer a {
	color: #fff;
	display: block;
	text-decoration: none;
}

.menu-footer > li {
	text-transform: uppercase;
	position: relative;
}


.box-10{
    height: 25px;
    padding: 25px;
    margin: 0 auto;
}



.box-10:hover{
    background: #bde48a;
    transform: rotate(45deg);
    transition: 0.5s;
}


/*_________________________________*/




/* КВАДРАТ ЗЕЛЕНИЙ */

#cuadrat{
    width: 200px;
    height: 50px;
    background: green;
    margin: 10px auto;
    transition-property: transform;
    transition-duration: 2s;
    overflow: hidden;
}

#cuadrat:hover{
    transform: translateY(10px);
}

/* КВАДРАТ  Hover me */

.box-9{
    border: #000;
    display: flex;
    flex-flow: column;
    min-height: 50px;
}


.test{
    width: 200px;
    height: 50px;
    margin-left: auto;
    position: relative;
    background: rgb(85, 133, 85);
    overflow: hidden; 
    transition-property: transform;
    transition-delay: 1s;

    flex-grow: 1;
    flex: 1;
}


.list-1 > li {
    position: relative;
	background: #76aecf;
    text-decoration: none;
}

.test:hover{
    transform: translateY(-7.1rem);
}


.list-1{
    transition: all 1s cubic-bezier(.19,.43,.85,.52);
	padding: 20px;
	position: absolute;
    top:0;
    right: -1000%;
	background: #a3dad5;
	z-index: 1;
}

.test > li:hover .list-1 {
    right: 100%;
}





/*_________________________________*/

.but-1{
    background: #6f6ba3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropbutton{
    background: #e02e2e;
    color: #fff;
    padding: 18px;
    font-size: 18px;
    border: none;
}

.nav-1{
    position: relative;
    display: inline-block;
}

.dropdown{
    position: absolute;
    background: #ccc;
    min-width: 180px;
    position: fixed;
    display: none;
}

.dropdown div{
    text-decoration: none;
    color: #3fa068;
    height: 25px;
    padding: 25px;
    display: block;
}

.dropbutton:hover{
    transform: translateY(-7.1rem);
}

.dropdown div:hover{
    background-color: #69ce6e;
}

.nav-1:hover .dropdown{
    display: block;
}



/*_________________________________*/



.container-5{
    background: #853e85;
    width: 50%;
    margin: 50px auto;
    display: flex;
    padding: 20px;
}

.box-7{
    background: #bde48a;
    height: 100px;
    padding: 25px;
    border: #000 solid 1px;
    flex: 1;
    transition: 1s;
}

.box-7:hover{
    flex:4;
    background:#ccc;
}







/*__________Home_____________________*/

.container-3{
	max-width: 1140px;
    padding: 60px 0;
	margin: 0 auto;
	background: rgb(177, 162, 194);
	position: relative;
    text-align: center;
}

.hidden {
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
}


body {
	font-size: 20px;
}


.block {
	font-size: 1rem;
	padding: 0.5rem;
}


.icon {
	width: 50px;
	height: 50px;
	fill: rgb(61, 23, 68);
    margin: 20px;
}

.icon:hover {
	fill: #853e85;
}


/*_________________________________*/




/* _________Gallery_________ */

.box{
	max-width: 1140px;
	padding: 50px 0;
	margin: 0 auto;
	position: relative;
    text-align: center;
}


.gallerys {
	width: 500px;
	margin: 0 auto 50px;
    height: 300px;
	position: relative;
	font-size: 0;
    text-align: center;
}

.gallerys img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-text {
	background: rgba(145, 139, 139, 0.5);
	position: absolute;
	top: 50%;
	left: 0;
    right: 0;
	font-size: 20px;
	color: rgb(33, 33, 34);
	display: none;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;    
    height: 150px;
    margin-top: -75px;
    width: 100%;
    flex-flow: column;
    justify-content: center;
}

.gallerys:hover .gallery-text {
	display: flex;
}







/* _____________Float__________________ */


.clearfix::after{
    clear: both;
    content: '';
    display: block;

}

.box_1{
    width: 1200px;
    margin: 0 auto;  
}

.case{
    font-size: 0;
    text-align: justify;
}

.card-1{
    width: 400px;
    height: 400px;
    outline: 1px solid gray;
    float: left;
}

.card-4{
    width: 400px;
    height: 400px;
    outline: 1px solid gray;
    float: left;
}

.card-5{
    width: 800px;
    height: 200px;
    outline: 1px solid gray;
    float: left;
}

.card-6{
    width: 400px;
    height: 200px;
    outline: 1px solid gray;
    float: left;
}

.card-7{
    width: 400px;
    height: 100px;
    outline: 1px solid gray;
    float: left;
}


.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.yellow > div {
    width: 800px;
    float: left;
    outline: 1px solid gray;
}

.yellow > div + div{
    width: 400px;
}

.pink{
    background-color: pink;
}

.h-133{
    height: 133.3px;
    outline: 1px solid gray ;
}

.h-200{
   height: 200px;
   outline: 1px solid gray ;
}




/* _____________CARDS__________________ */

.container-1{
    width: 1200px;
    margin: 0 auto;  
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.section-cards h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
   }
   
   .section-cards h1 + p{
   font-size: 20px;
   margin-bottom: 30px;
   }
   
   .cards {
       font-size: 0;
   }
   
   .card {
       display: inline-block;
       font-size: 16px;
       width: 400px;
       padding: 10px;
   }
   
   .card-item {
       border: 2px solid rgb(231, 174, 183);
       padding: 3px;
       border-radius: 5px;
   }
   
   .link-image {
       display: block;
       height: 200px;
   }
   
   .link-image img{
       width: 100%;
       height: 100%;
       object-fit: cover;
   }



   


/* _______________Table________________ */

.container-2 {
	width: 1100px;
	margin: 0 auto;
	padding: 20px;
}

table, th, td  {
	border: 1px solid;
}

.table td {
	width: 50px;
	height: 50px;
}

.main-table {
	margin-top: 50px;
	width: 1100px;
}

.main-table td {
	width: 400px;
}


.table-container {
	width: 600px;
	margin: 0 auto;
	overflow: auto;
}

.mosonry td {
	width: 150px;
	height: 150px;
}





